<div class="container">
  <h1>✨ &nbsp; T A S K S &nbsp; L I S T &nbsp; ✨</h1>
</div>

<div class="container">
  <ul class="list_container">
    <% @tasks.each do |task| %>
      <li class="list-style"><%=link_to task.title, task_path(task) %></li>
    <% end %>
  </ul>
</div>

<div class="container">
  <%= link_to "Add a new task", new_task_path, class: "index_submit" %>
</div>




<%#= form_with model: task do |f| %>
<%#= f.check_box :completed %>
<%# = f.submit %>
